/* :root {

} */

* {
    margin: 0px;
    padding: 0px;
    --text-color: red;
}

.head {
    background-color: lightseagreen;
    width: 100%;
    height: 160px;
}


#button {
    background-color: black;
    width: 100px;
    height: 100px;
    margin-left: 22px;
    margin-top: 30px;

}
